p{
	font-size: 15px;

}
h3{
	margin-top: 200px;
	padding: 20px;
	font-weight: bold;
	color: red;
}
h2{
	padding-top: 20px;
}
h4{
	padding-top: 20px;
}
h5{
	padding:50px 20px;
}
.grey{
	background-color: grey;
	height: 100px;
}
.new {
	background-color: #e6f0ff;
	height: 550px;
}
.that{
	width: 200px;
	height: 160px;
}
.green{
	background-color: #cce6ff;
	height: 550px;
	padding:50px 20px;
}
.white{
	background-color: #ecf9ec;
	height: 550px;
	padding:50px 20px;
}

.mercies-background {
	background-image: url("../images/ex2.jpg");
	background-size: cover;
	height: 550px;
}
.mercies-background > h1{
	padding: 150px 10px 30px;
font-size: 50px;
font-weight: 700;
}
body {
	background: url(../images/bg-body.jpg) repeat;
	color: #356618;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0;
	min-width: 940px;
	padding: 0;
}
a {
	outline: none;
}
img {
	border: 0;
}
p {
	margin: 0;
	text-align: justify;
}
p a {
	color: #356618;
}
p a:hover {
	color: #66a143;
}
.navbar {
margin-bottom: 0;
}
.setimage {
	margin-right: 150px;
}