.wrapper {
	font-family: 'Signika', sans-serif;
}
.jum {
	/*background-color: #87ceeb;*/
	background: url(img/crew.jpg) no-repeat;
	
	
}
.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:52%;
  display: block;
  z-index:0;
  background-color: rgba(0,0,1, 0.6);
}
.about p {
	font-size: 20px;
}
.head-bord {
	/*border-top: 4px solid #0c9b87;*/
}
hr {
     border: 0;
     height: 2px;
    width: 100%;
}
.skills {
	background-color: black;
	color: white;
}
.skills img {
	width:80px;
}
.contact {
	/*background-color: #87ceeb;*/
}
.footer {
	background-color: black;
	color: white;
}

ul.top-links li {
	list-style: none;
    display: inline-block;
    /*margin: 0 .1em;*/
}
ul.top-links li a i.fa {
    color: #fff;
    font-size: 15px;
    background: #656565;
    padding: 0.2em 0;
    width: 40px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
ul.top-links li a i.fa:hover {
    background: #dedede;
    color: #000;
}
.top-links i.fa.fa-facebook {
    background: #3b5998;
}
.top-links i.fa.fa-twitter {
    background: #0087da;
}
.top-links i.fa.fa-medium {
    background: #11b563;
}
.top-links i.fa.fa-linkedin {
    background: #0077b5;
}
ul.top-links {
    margin-top: 3em;
}
.contact-right {
    margin-top: 2em;
}
   /* background: #3CAFE6;
    width: 50px;
    height: 3px;
    display: block;
    position: absolute;
    right: 36%;
    top: 46%;*/